* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(
    225deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(111, 111, 111, 1) 100%
  );
  color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  padding: 20px 0;
  text-align: center;
  background: linear-gradient(
    45deg,
    rgba(0, 233, 247, 1) 0%,
    rgba(197, 0, 249, 1) 100%
  );
  color: #333;
}

h1,
h3 {
  background: linear-gradient(
    225deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(111, 111, 111, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

main {
  flex-grow: 1;
  margin: 80px auto;
}

.container {
  width: 800px;
  min-height: 600px;
  border: 3px solid #c4c4c4;
  box-shadow: 2px 2px 10px #c4c4c4;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    rgba(0, 233, 247, 1) 0%,
    rgba(197, 0, 249, 1) 100%
  );
  display: flex;
  padding: 20px;
  gap: 20px;
}

.frame {
  width: 250px;
  border: 2px solid #c4c4c4;
  box-shadow: 2px 2px 10px #c4c4c4;
  border-radius: 10px;
}

.frame_info {
  width: 350px;
}

img {
  display: block;
  width: 80%;
  margin: 15px auto;
  border: 2px solid #c4c4c4;
  box-shadow: 2px 2px 10px #c4c4c4;
  border-radius: 10px;
}

.frame_info_player {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}

.atk {
  border: 2px solid black;
  box-shadow: 1px 1px 8px black;
  padding: 5px;
  border-radius: 5px;
  background-color: red;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s;
}

.atk:hover {
  background: rgb(189, 19, 19);
}
.potion {
  border: 2px solid black;
  box-shadow: 1px 1px 8px black;
  padding: 5px;
  border-radius: 5px;
  background-color: green;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s;
}

.potion:hover {
  background: rgb(4, 92, 4);
}

p {
  font-size: 20px;
  font-weight: bold;
}

.info_Action,
.info_General {
  width: 90%;
  height: 40%;
  margin: 20px auto;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}

.info_General {
  color: #c4c4c4;
  font-weight: bold;
}

.reset {
  width: 90%;
  margin: -20px auto;
  padding: 10px;
  font-weight: bold;
  border: 3px solid gray;
  background: blue;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s;
  text-align: center;
}

.reset:hover {
  background: white;
  color: blue;
}

.disabled {
  cursor: none;
  background: gray;
  pointer-events: none;
  box-shadow: none;
}
